*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}
:root{
    font-size: 62.5%;

    font-family: 'Mulish', sans-serif;
}
p{
    color: #C4C4CC;
}
h3{
    color: #E1E1E6;
}
body{
    background-color: #121214;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    width: 31.9rem;

    margin: 0 auto;

    padding: 3rem;

    box-sizing:content-box;

    overflow-x: hidden;
}
header{
    display: flex;
    flex-direction: column;

    gap: .8rem;

    margin-bottom: 6.2rem;
}
header h1{
    color: #02799D;

    font-size: 3rem;
    font-weight: 900;
}
header h3{
    font-size: 1.9rem;
    font-weight: 600;
}
main{
    display: grid;

    row-gap: 4.4rem;
    column-gap: 2.5rem;
}
.cont{
    width: 26.6rem;

    border-radius: .8rem;

    border: 1px solid #323238;

    justify-self: center;

    transition: all 700ms;
}
.cont img{
    border-radius: .8rem .8rem 0 0;

    width: 26.4rem;
    height: 17.7rem;

    object-fit: cover;
}
.cont h3{
    font-size: 3.5rem;
    font-weight: 900;

    margin: 2.4rem 0;
}
.cont section{
    width: 22.1rem;

    margin: 0 auto;
}
.cont section p{
    font-size: 1.9rem;
    font-weight: 600;

    margin-bottom: 3.8rem;
}
.cont:hover{
    transform: scale(1.1);
}


@media (min-width: 1400px){
    body{
        width: 121.8rem;

        display: block;
    }
    header{
        justify-content: flex-start;
    }
    header h1{
        color: #02799D;
    
        font-size: 5.8rem;
        font-weight: 900;
    }
    header h3{
        font-size: 3.2rem;
        font-weight: 600;
    }
    main{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .cont{
        width: 36.6rem;
    
        border-radius: .8rem;
    
        border: 1px solid #323238;
    
        justify-self: center;
    }
    .cont img{
        border-radius: .8rem .8rem 0 0;
    
        width: 36.4rem;
        height: 17.7rem;

        object-fit: cover;
    }
    .cont section{
        width: 32.1rem;
    
        margin: 0 auto;
    }
}

